    <div>
        @BodyTemplate
    </div>
    <div class="footer">
        <div class="columns content-column">
            <div class="column rightBorder">
                <h5>Getting Started Today</h5>
                <div class="text">The DevExpress ASP.NET Subscription includes 110+ WebForm Controls and 70+ MVC Extensions.</div>
                <div class="text"><a class="orangeLink" href="https://www.devexpress.com/products/try/">Download your free 30-day trial</a></div>
            </div>
            <div class="column rightBorder">
                <h5>We Are Here To Help</h5>
                <div class="text">Tell us how we can help you build the next great asp.net web app.</div>
                <div class="text"><a class="orangeLink" href="mailto:info@devexpress.com">info@devexpress.com</a></div>
            </div>
            <div class="column">
                <h5>The Following DevExpress ASP.NET Controls Were Used On This Page</h5>
                <div class="text">
                    @FooterTemplate
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="info">
            <div class="content-column">
                <div class="copyright">
                    Copyright (c) @DateTime.Today.Year.ToString() Developer Express Inc.<br />This website demonstrates use of DevExpress ASP.NET Controls. Hotel rooms cannot be booked using this website.
                </div>
                <div class="logo">
                    <a href="http://www.devexpress.com/" target="_blank">
                        <img src="/Content/Images/172x35.svg" style="width: 172px; height:35px;" /></a>
                </div>
            </div>
        </div>
    </div>


@code {
    [Parameter] public RenderFragment BodyTemplate { get; set; } = default!;
    [Parameter] public RenderFragment FooterTemplate { get; set; } = default!;
}
