
.contact-button {
    font-size: 14px;
    width: 107px;
    height: 38px;
    text-align: center;
    vertical-align: middle;
    line-height: 38px;
}

.login-button {
    font-size: 14px;
    width: 75px;
    height: 38px;
    text-align: center;
    vertical-align: middle;
    line-height: 38px;
}

.contact-close-button {
    width: 100%;
    background-color: #F7F7F7;
    font-size: 14px !important;
    height: 40px !important;
    text-align: center;
    vertical-align: middle;
    line-height: 38px;
    border: 2px solid gray;
}

    .contact-close-button:hover {
        background-color: #F88E1D!important;
        color: #fff;
    }