@page "/"
@inject IJSRuntime JSRuntime
@using System.Text.Json.Serialization

<PageTitle>DXHotels Demo | ASP.NET Controls by DevExpress</PageTitle>

<BaseCtrl>
    <BodyTemplate>
        <div class="index-banner">
            <div class="searchPanelContainer">
                <SearchPanelControl></SearchPanelControl>
                <div class="text">
                    <h1>Hotel Booking</h1>
                    <h2>powered by DevExpress ASP.NET Controls</h2>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="widgets">
            <div class="content-column" style="padding-top: 30px; margin-bottom: -20px;">

                <div class="widget" style="float: left; padding-right: 10px;">
                    <div style="border: 1px solid gray; background-color: white; padding: 5px 5px 20px 5px;">
                        <div class="closeImageContainer">
                            <img src="/Content/Images/offer-close-ico.png" class="closeImage" />
                        </div>
                        <div class="imageContainer">
                            <img src="/Content/Images/wid2.png" class="image" />
                        </div>
                    </div>
                </div>
                <div class="widget" style="float: left; padding-right: 10px;">
                    <div style="border: 1px solid gray; background-color: white; padding: 5px 5px 20px 5px;">
                        <div class="closeImageContainer">
                            <img src="/Content/Images/offer-close-ico.png" class="closeImage" />
                        </div>
                        <div class="imageContainer">
                            <img src="/Content/Images/wid1.png" class="image" />
                        </div>
                    </div>
                </div>
                <div class="widget" style="float: left;">
                    <div style="border: 1px solid gray; background-color: white; padding: 5px 5px 20px 5px;">
                        <div class="closeImageContainer">
                            <img src="/Content/Images/offer-close-ico.png" class="closeImage" />
                        </div>
                        <div class="imageContainer">
                            <img src="/Content/Images/wid3.png" class="image" />
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="index-offers content-column">
            <div class="title">
                SPECIAL OFFERS <DxCheckBox @bind-Checked="@SlideShowDelay" ValueChecked="2000" ValueUnchecked="0">Animation</DxCheckBox>
            </div>
            <div class="imageSlider">                                                
                <DevExtremeGallery @ref="g" TItem="GalleryItem" DataSource="@galleryItems" Width="100%" Height="505px" Loop="true" 
                                SlideshowDelay="@SlideShowDelay" ShowNavButtons="true" ItemClick="@Click">
                </DevExtremeGallery>
            </div>
        </div>
        @* ASPxPopupControl ID="pcWidgetInfo"  *@

    </BodyTemplate>
    <FooterTemplate>
        ASP.NET Images Gallery<br />
        ASP.NET Data Editors Library<br />
        ASP.NET Popup Controls
    </FooterTemplate>
</BaseCtrl>
@code {
    DevExtremeGallery<GalleryItem> g = default!;

    public int SlideShowDelay { get; set; } = 0;

    protected async Task Click(DXGalleryDataEventArgs<GalleryItem> args)
    {
        await JSRuntime.InvokeVoidAsync("alert", $"You clicked on {args.ItemData?.HotelName} in {args.ItemData?.City}");
    }

    public List<GalleryItem> galleryItems = new List<GalleryItem>(new[] {
        new GalleryItem() { Image = "/Content/Images/Cities/Athens.jpg", HotelName = "Greece Majesty", City = "Athens, Greece", Price = 214 },
        new GalleryItem() { Image = "/Content/Images/Cities/Barcelona.jpg", HotelName = "Hotel Barcelona Universal", City = "Barcelona, Spain", Price = 136 },
        new GalleryItem() { Image = "/Content/Images/Cities/Berlin.jpg", HotelName = "Das Hotel", City = "Berlin, Germany", Price = 155 },
        new GalleryItem() { Image = "/Content/Images/Cities/Cairo.jpg", HotelName = "Sand Castle", City = "Cairo, Egypt", Price = 215 },
        new GalleryItem() { Image = "/Content/Images/Cities/LA.jpg", HotelName = "Hotel LA", City = "Los Angeles, USA", Price = 215 },
        new GalleryItem() { Image = "/Content/Images/Cities/London.jpg", HotelName = "Posh House", City = "London, UK", Price = 355 },
        new GalleryItem() { Image = "/Content/Images/Cities/Moscow.jpg", HotelName = "Hotel Profit", City = "Moscow, Russia", Price = 143 },
        new GalleryItem() { Image = "/Content/Images/Cities/NY.jpg", HotelName = "The Hood", City = "New York, USA", Price = 199 },
        new GalleryItem() { Image = "/Content/Images/Cities/Paris.jpg", HotelName = "Hotel Des Ducs D'Anjou", City = "Paris, France", Price = 438 },
        new GalleryItem() { Image = "/Content/Images/Cities/Prague.jpg", HotelName = "Hotel Tyl", City = "Prague, Czech Republic", Price = 227 },
        new GalleryItem() { Image = "/Content/Images/Cities/Rio.jpg", HotelName = "La Maison", City = "Rio de Janeiro, Brazil", Price = 600 },
        new GalleryItem() { Image = "/Content/Images/Cities/Sydney.jpg", HotelName = "Harbour Rocks Hotel", City = "Sydney, Australia", Price = 354 },
        new GalleryItem() { Image = "/Content/Images/Cities/Tokoyo.jpg", HotelName = "Shibuya Tobu Hotel", City = "Tokyo, Japan", Price = 230 }
    });

    public class GalleryItem
    {
        [JsonPropertyName("image")] public string Image { get; set; } = default!;
        [JsonPropertyName("hotelName")] public string HotelName { get; set; } = default!;
        [JsonPropertyName("city")] public string City { get; set; } = default!;
        [JsonPropertyName("price")] public decimal Price { get; set; } = 0;
        [JsonPropertyName("template")] public string Template { 
            get => $"<div style='background-image: url({Image}); background-repeat: no-repeat; height: 100%;'><div style='float: right; opacity: 0.8; width: 250px; padding: 10px; margin-top: 25px; background-color: black; color: white;'><div class='hotel'>{HotelName}</div><div class='city'>{City}</div><div class='price'>{string.Format("{0:c}", Price)}</div></div></div>"; }
    }
}